.CurrentTemperature .cur-temperature {
  font-size: 60px;
  padding-top: 20px;
  padding-bottom: 0;
  margin-left: 20px;
}

.CurrentTemperature .cur-feels-like-title {
  font-size: 15px;
  padding-top: 0;
}

.CurrentTemperature #change-unit-btn {
  font-size: 20px;
}
